<% if current_user %>
<p class="gameInfoHeader">
	WELCOME <%= current_user.name %>_
</p>
<% if current_user.players.blank? %>
<br>
<%= link_to 'JOIN AN EVENT', "/register/index" %>
<% end %>
<% current_user.players.each do |player| %>
	<table class="homeStyleTable">
		<tr>
			<td>GAME</td>
			<td class="gameInfo">
				<%= player.season.display %>
			</td>
		</tr>
		<tr>
			<td>DESCRIPTION</td>
			<td class="gameInfo"><%= player.season.description %></td>
		</tr>
		<tr>
			<td>STATUS</td>
			<td class="gameInfo">
				<% if player.season.start.time( ) < DateTime.current && DateTime.current < player.season.end.time( ) %>
				Game ends on <%= player.season.end.time( ) %>
				<% elsif player.season.start.time( ) > DateTime.current %>
				Game starts on <%= player.season.start.time( ) %>
				<% elsif player.season.end.time( ) < DateTime.current %>
				Game ended on <%= player.season.end.time( ) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>POINTS</td>
			<td class="gameInfo">
				<%= player.points %>
			</td>
		</tr>
		<tr>
			<td>TARGETS</td>
			<td class="gameInfo">
				<% player.getCurrentTargets.each do |target| %>
				<%= link_to 'TAG', "/user/tag/#{ target.id }?tagger=#{ player.id }" %> <%= target.user.name %><br>
				<% end %>
			</td>
		</tr>
		<% if player.account == 1 %>
		<tr>
			<td>&nbsp;</td>
			<td>
				MANAGE
			</td>
		</tr>
		<% end %>
	</table>
</p>
<% end %>
<% else %>
<%= link_to "@ltu.edu login", "/auth/google_login", :class => "zocial google" %>
<% end %>