<% if current_user %>
<p>
	welcome <%= current_user.name %>
</p>
<% current_user.players.each do |player| %>
	<table class="styleTable">
		<tr>
			<td>GAME</td>
			<td>
				<%= player.season.display %>
			</td>
		</tr>
		<tr>
			<td>POINTS</td>
			<td>
				<%= player.points %>
			</td>
		</tr>
		<tr>
			<td>END</td>
			<td><%= player.season.end %></td>
		</tr>
		<tr>
			<td>DESCRIPTION</td>
			<td><%= player.season.description %></td>
		</tr>
		<tr>
			<td>TARGETS</td>
			<td>
				<% player.getCurrentTargets.each do |target| %>
				<%= link_to 'TAG', "/user/tag/#{ target.id }?tagger=#{ player.id }" %> <%= target.user.name %><br>
				<% end %>
			</td>
		</tr>
		<% if player.account == 1 %>
		<tr>
			<td>&nbsp;</td>
			<td>
				MANAGE
			</td>
		</tr>
		<% end %>
	</table>
</p>
<% end %>
<% else %>
<%= link_to "@ltu.edu login", "/auth/google_login", :class => "zocial google" %>
<% end %>