<% if current_user %>
<% if current_user.players.blank? %>
<br>
<%= link_to 'JOIN AN EVENT', "/register/index" %>
<% end %>
<% @current_games.each do |game| %>
<%= game.season.display %>: <span class="gameInfo"><%= game.season.description %></span><br>
<span class="gameInfo">Game ends on <%= game.season.end.strftime( "%m.%d.%Y" ) %></span><br>
<%= game.points %><br>
<% game.getCurrentTargets.each do |target| %>
<%#= link_to target.user.name, "/user/profile/#{ target.user.id }" %><%#= link_to 'TAG', "/user/tag/#{ target.id }?tagger=#{ game.id }" %>
<div>
	<p style="float: left;">
		<%= image_tag target.user.image_link, :class => "profilePhoto" %>
	</p>
	<p class="gameInfo profileInfo">
		<%= target.user.name %><br>
		<br>
		<%= target.user.email %><br>
		<br>
		<% if target.user.about != nil %>
		<span class="quote">&quot;<%= target.user.about %>&quot;</span><br>
		<br>
		<% end %>
		<% if target.user.weapon != nil %>
		PREFERRED WEAPONS: <%= target.user.weapon %>
		<% end %>
		<%= link_to 'PROFILE', "/user/profile/#{ target.user.id }" %><br>
		<%= link_to 'TAG', "/user/tag/#{ target.id }?tagger=#{ game.id }", :class => "tagLink" %>
	</p>
</div>
<div style="clear: left;"></div>
<% end %>
<% if game.account == 1 %>
MANAGE
<% end %>
<% end %>
<% else %>
<span class="left">Assassins is a college campus game played with Nerf blasters. Every day, players are assigned targets and receive points for tagging another player with their blaster or foam weapon. Log in with your Google account to join today!</span><br>
<br>
<%= link_to "@ltu.edu login", "/auth/google_login", :class => "zocial google" %>
<% end %>