<table>
	<tr>
		<td>EVENT NAME</td>
		<td>
			<%= @season.display %><br>
			<br>
		</td>
	</tr>
	<tr>
		<td>DESCRIPTION</td>
		<td>
			<%= @season.description %><br>
			<br>
		</td>
	</tr>
	<tr>
		<td>TARGETS PER PLAYER</td>
		<td>
			<%= @season.targets %><br>
			<br>
		</td>
	</tr>
	<tr>
		<td>FROM</td>
		<td><%= @season.start.strftime( "%m.%d.%Y" ) %></td>
	</tr>
	<tr>
		<td>TO</td>
		<td>
			<%= @season.end.strftime( "%m.%d.%Y" ) %><br>
			<br>
			<br>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<%= form_tag "/register/join", method: "post" do %>
				<%= hidden_field_tag "season_id", @season.id %>
				<%= submit_tag "REGISTER" %>
			<% end %>
		</td>
	</tr>
</table>
