<script>
	function isVisible( ){
		/*$( ".backgroundBlur" ).css( "display", "inline-block" );
		$( ".backgroundBlur" ).width( $( ".ui-datepicker" ).width( ) );
		$( ".backgroundBlur" ).height( $( ".ui-datepicker" ).height( ) );
		$( ".ui-datepicker" ).css( "z-index", 900 );
		$( ".backgroundBlur" ).css( "z-index", 600 );
		$( ".backgroundBlur" ).css({ top: $( ".ui-datepicker" ).css( "top" ), left: $( ".ui-datepicker" ).css( "left" ) });*/
		return false;
	}
	$( function( ){
		$( "#startTime" ).datepicker( { dateFormat: "yy-mm-dd" } );
		$( "#endTime" ).datepicker( { dateFormat: "yy-mm-dd" } );
		var today = new Date( );
		$( "#startTime" ).datepicker( 'setDate', today );
		$( "#endTime" ).datepicker( 'setDate', new Date( today.getFullYear( ), today.getMonth( ) + 1, today.getDate( ) ) );
	} );
</script>
<div class="backgroundBlur" style="display: none;"></div>
	<%= form_tag "/register/create", method: "post" do %>
	<table>
		<tr>
			<td>EVENT NAME</td>
			<td>
				<%= text_field_tag :eventName, 'LTU Assassins', :id => "eventName" %>
			</td>
		</tr>
		<tr>
			<td>DESCRIPTION</td>
			<td>
				<%= text_field_tag :eventDescription, 'A game of assassination.', :id => "eventDescription" %><br>
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td>TARGETS PER PLAYER</td>
			<td>
				<%= text_field_tag :targets, '2', :id => "targets" %><br>
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td>FROM</td>
			<td><%= text_field_tag :startTime, '', :id => "startTime", :onclick => "isVisible( );" %></td>
		</tr>
		<tr>
			<td>TO</td>
			<td>
				<%= text_field_tag :endTime, '', :id => "endTime" %><br>
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= submit_tag "CREATE EVENT" %></td>
		</tr>
	</table>
<% end %>
