<!DOCTYPE html>
<html>
	<head>
		<title>LTU Aassassins</title>
		<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,900italic" %>
		<%= stylesheet_link_tag "jquery-ui-1.10.4.custom/css/custom-theme/jquery-ui-1.10.4.custom" %>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= stylesheet_link_tag "zocial/zocial", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<h1>LTU ASSASSINS</h1>
		<% if current_user %>
		<span id="bodyHeader">
			<%= link_to 'HOME', '/home/index' %>
			<%= link_to 'CREATE AN EVENT', '/register/create' %>
			<%= link_to "SIGN OUT", "/logout" %>
		</span><br>
		<% end %>
		<%= yield %>
		<br>
		<br>
		<div class="bodyFooter">
			Game concept by <%= link_to 'Gabe Stroe', 'mailto:gstroe@ltu.edu' %> and <%= link_to 'Philip Bigos', 'mailto:pbigos@ltu.edu' %>. Website by <%= link_to 'Nick Virag', 'mailto:nick@nickv.co' %>. Fork me on <%= link_to 'Github', 'https://github.com/nickvirag/campusassassins' %>!
		</div>
	</body>
</html>
