<!DOCTYPE html>
<html>
	<head>
		<title>LTU Aassassins</title>
		<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,900italic" %>
		<%= stylesheet_link_tag "jquery-ui-1.10.4.custom/css/custom-theme/jquery-ui-1.10.4.custom" %>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= stylesheet_link_tag "zocial/zocial", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<p style="font-size: 0">
		<span class="title">LTU ASSASSINS</span><br><% if current_user %><span class="gameInfoHeader">WELCOME <%= current_user.name %>_</span></p>
		<br>
		<% end %>
		<div class="content">
			<%= yield %><br>
			<br>
			<br>
			<br>
		</div>
		<br>
		<div class="footer">
			<% if current_user %>
			<span class="linkFooter">
				<%= link_to 'HOME', '/home/index' %>&nbsp;-
				<%= link_to 'EVENTS', '/register/index' %>&nbsp;-
				<%= link_to 'PROFILE', "/user/profile/#{ current_user.id }" %>&nbsp;-
				<%= link_to "LOGOUT", "/logout" %>
			</span><br>
			<% end %>
			<div class="bodyFooter">
				Website by <%= link_to 'Nick Virag', 'mailto:nick@nickv.co' %>. Game concept by <%= link_to 'Gabe Stroe', 'mailto:gstroe@ltu.edu' %> and <%= link_to 'Philip Bigos', 'mailto:pbigos@ltu.edu' %>. Fork me on <%= link_to 'Github', 'https://github.com/nickvirag/campusassassins' %>!
			</div>
		</div>
	</body>
</html>
